<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>콘텐츠 목록 - Notemate</title>
</head>
<body>
<h1>콘텐츠 목록</h1>

<a th:href="@{/}">홈으로</a>

<div th:if="${#lists.isEmpty(content)}">
    <p>등록된 콘텐츠가 없습니다.</p>
</div>

<ul th:if="${!#lists.isEmpty(contents)}">
    <li th:each="content : ${contents}"> <!-- 컨트롤러에서 넘긴 contents 리스트를 반복 출력 -->
        <!--  콘텐츠 id에 맞는 상세 페이지 링크를 만든다 -->
        <a th:href="@{/contents/{id}(id=${content.id})}"
            th:text="${content.title}">
            콘텐츠 제목
        </a>

        <span th:if="${content.premium}">[프리미엄]</span>
        <span th:if="${!content.premium}">[무료]</span>

        <span>
            작성자:
            <span th:text="${content.authorName}">작성자</span>
        </span>
    </li>
</ul>
</body>
</html>